@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap");
body {
  margin: 0;
}

code {
  font-family: "Poppins", sans-serif;
}

h4 {
  text-align: center;
}
header a {
  color: white !important;
  text-decoration: none;
}
.error-msg {
  color: red;
  text-align: center;
  font-weight: 500;
}
form {
  display: flex;
  flex-direction: column;
  height: 90vh;
  justify-content: center;
}
.dashboard {
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.dashboard .log-out {
  width: max-content !important;
  margin: 0px auto;
}
